name: CI/CD Pipeline
run-name: "CI/CD Run for ${{ github.event.head_commit.message }}"

on:
  push:
    branches:
      - main
      - feat/*

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'pnpm'
    
      - name: Install dependencies
        run: pnpm install

      - name: Lint project files
        run: pnpm lint
  
  containerize:
    needs: [lint]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    strategy:
      matrix:
        app: [inventory]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install turbo
        run: pnpm add turbo@2.8.7 --global

      - name: Prune workspace
        run: pnpm turbo prune ${{ matrix.app }} --docker

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3 #test

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with: 
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: apps/${{ matrix.app }}/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/atelier-${{ matrix.app }}:${{ github.sha }}
            ${{ secrets.DOCKERHUB_USERNAME }}/atelier-${{ matrix.app }}:latest
          cache-to: type=gha,scope=${{ matrix.app }}
          cache-from: type=gha,scope=${{ matrix.app }}

  